<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" (click)="home()">HOME</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="register()"
          >REGISTER <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login()">LOGIN</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hi {{ usr }}</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <img
        [src]="location"
        alt="Card image cap "
        height="100"
        width="100"
      /><br /><br /><br />
    </div>
    <div class="col">
      <form [formGroup]="checkoutForm">
        <table class="table">
          <thead>
            <tr>
              <th>Details</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Price</td>
              <td>
                <h5>{{ price }} USD</h5>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    formControlName="signUp"
                  />
                  <label class="form-check-label">Use Signup Credits</label>
                </div>
              </td>
              <td>-{{ signupCredit }}USD</td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    formControlName="referal"
                  />
                  <label class="form-check-label">Use Referal Credit</label>
                </div>
              </td>
              <td>-{{ referalCredit }}USD</td>
            </tr>
            <tr>
              <td>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    formControlName="mainBal"
                  />
                  <label class="form-check-label"
                    >Use Main Wallet Balance</label
                  >
                </div>
              </td>
              <td>-{{ mainBalance }} USD</td>
            </tr>
            <tr>
              <td>Final Amount to pay</td>
              <td>{{ finalBalance }}USD</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <button class="btn btn-success" (click)='submit()'>PROCEED TO PAY {{finalBalance}} USD</button>
</div>
