<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" (click)="home()">HOME</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="register()"
          >REGISTER <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login()">LOGIN</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hi {{ usr }}</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="location" alt="Card image cap " height="300" width="300"><br/><br/><br/>
      <button class="btn btn-primary" (click)='checkout()'>Buy Now</button>
    </div>
    <div class="col">
      <h1>{{price}} USD</h1>
      <small>{{description}}</small>
    </div>
  </div>
</div>
