<div class="container-fluid">
  <h5 id ='usr'>HI {{ usr }}</h5>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/res/shark.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Black Shark 2 (Shadow Black, 128 GB)  (6 GB RAM)</h5>
          <p class="card-text">400 USD <del> 600 USD </del> 34% off</p>
          <a routerLink="/product/5e3ae50b41ed313440fc97da" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>


    <div class="col-sm-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/res/sony.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sony Alpha ILCE-6400L Mirrorless Camera (Black)</h5>
          <p class="card-text">500 USD <del> 600 USD </del> 11% off</p>
          <a routerLink="/product/5e3ae56d41ed313440fc97db" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>

  </div>
</div>
